@model Lesson3App1.Models.Employee
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form asp-controller="Employee" asp-action="Create" method="post">
        Emp Id: <input asp-for="empID" /> </br>
        First Name: <input asp-for="firstName" /> </br>
        Last Name: <input asp-for="lastName" /> </br>
        <button type="Submit">Create</button> 
    </form>
      
</body>
</html>